* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.u-flex-c-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  transition: all .3s;
  font-family: 'Luckiest Guy', cursive;
}

header {
  flex-direction: column;
  max-width: 1600px;
  position: relative;
  margin-bottom: 15px;
}

/********* NAV *********/

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

nav > div:not(:first-child) {
  margin-left: 40px;
}

h2 {
  display: inline;
  font-size: 2.8rem;
  color: black;
  -webkit-text-stroke: 1px white;
}

h2 > div {
  color: white;
  display: inline-block;
  -webkit-text-stroke: 0;
}

.reset-container {
  position: absolute;
  right: 25px;
  top: 0;
}

#difficulty-selector {
  font-size: 3rem;
  font-family: 'Luckiest Guy', cursive;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;

}

#timer {
  min-width: 80px;
}

/********* GAMEBOARD *********/

.corona-container {
  align-items: center;
}

.gameboard-row {
  display: flex;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  font-size: 1.75em;
  padding-top: 6px;
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;  
}

.uncovered {
  background-color: rgba(255, 255, 255, .5);
}

.expose {
  background: url("../img/corona_icon.png") no-repeat center / contain;
  background-color: white;
}

.flagged {
  background: url("../img/mask.png") no-repeat center / contain;
  background-color: white;
  color: transparent;
}

.question-mark {
  background: url("../img/question-mark.png") no-repeat center / contain;
  background-color: white;
  color: transparent;
}

/********* FOOTER *********/
footer {
  margin-top: 20px;
  color: black;
  -webkit-text-stroke: 1px white;
}

h3 {
  font-size: 1.75em;
  padding-top: 5px;
}

footer > img {
  width: 40px;
  margin: 0 8px;
}