* {
  box-sizing: border-box;
}

.emoji-container > img {
  width: 150px;
}

.flag-container > img,
.reset-container > img {
  width: 30px;
}

.corona-container {
  align-items: center;
}

.gameboard-row {
  display: flex;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.cheat {
  background: url("../img/corona_icon.png") no-repeat center / contain;
  background-color: white;
}

.prox-cheat {
  color: black !important;
}

.uncovered {
  background-color: lightgray;
}