* {
  box-sizing: border-box;
}

.emoji-container > img {
  width: 150px;
}

.flag-container > img,
.reset-container > img {
  width: 30px;
}

.corona-container {
  align-items: center;
}

.gameboard-row {
  display: flex;
}

.square {
  background-color: gray;
  width: 30px;
  height: 30px;
  margin: 5px;
}

